@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');


$ibarra: 'Ibarra Real Nova', serif; // 500
$playfair-display: 'Playfair Display', serif; // 400
$raleway: 'Raleway', sans-serif; // 100, 200, 400
$garamond: 'EB Garamond', serif; // 400
$montserrat: 'Montserrat', sans-serif; // 200, 300